.header__link_active {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: white;
  transition: all 1s ease 0s;
  margin-right: 18px;
}

.header__link_active:hover {
  opacity: .8;
}
