.footer__link-group {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .footer__link-group {
        flex-direction: column;
        margin-bottom: 48px;
    }
}

