.lead__title {
	margin: 56px 280px 0 280px;
	font-size: 96px;
	line-height: 100px;
	font-weight: 900;
	text-align: center;
}

@media screen and (max-width: 1279px) {
	.lead__title {
		margin: 48px 24px 0 24px;
		
	}
}

@media screen and (max-width: 1023px) {
	.lead__title {
	margin: 48px 24px 0 24px;
	font-size: 96px;
	line-height: 100px;		
	}
}

@media screen and (max-width: 767px) {
	.lead__title {
	margin: 48px 16px 0 16px;
	font-size: 82px;
	line-height: 100px;		
	}
}

@media screen and (max-width: 600px) {
	.lead__title {
	margin: 48px 16px 0 16px;
	font-size: 68px;
	line-height: 80px;		
	}
}

@media screen and (max-width: 600px) {
	.lead__title {
	margin: 48px 16px 0 16px;
	font-size: 68px;
	line-height: 80px;		
	}
}

@media screen and (max-width: 500px) {
	.lead__title {
	font-size: 60px;
	line-height: 72px;		
	}
}