.place__paragraph {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
    line-height: 29,34px;
    font-weight: 400;
    width: 484px;
}

.place__paragraph:first-of-type {
    margin-bottom: 26px;
}